:root {
    --top-bottom: blueviolet;
}

* { /*Sets BG color for webpage and also the font of the page itself*/
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
}

header { /*Sets the width for the header and the border/flex box*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0px;
    background: var(--top-bottom);
}

header * {
    background: var(--top-bottom);
}

li {
    margin: 0px 10px;
}

section img {
    object-fit: contain;
}

footer * {
    width: 100%;
    height: 20px;
    background: blueviolet;
}

.nav-bar {
    display: inline-flex;
    list-style-type: none;
    font-size: xx-large;
}

.portfolio-boxes {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-box {
    border: 1px solid black;
    width: 35%;
    height: 300px;
}

.self-portrait {
    height: 200px;
    width:  200px;
    border: 2px solid black;
}

#bigger-box {
    width: 70%;
}

@media screen and (max-width: 768px) {
    .portfolio-boxes {
        flex-direction: column;
    }

    #bigger-box {
        width: 35%;
    }
}